gradle.properties
/**/.gradle/
/.idea/
/eclipse/
/build/
/repo/
/renames.txt
/versions/*/build/
/versions/*/projects/
/versions/*/natives/
/versions/*/old/
*.py
eclipse.bat
eclipsej.bat
/update/__pycache__/
/update/bin/
/update/output/
/java_versions.json
/1.15.1_to_1.15.2.patch
/1.15_to_1.15.1.patch
