gradle.properties
*.diff
/repo/
/versions/**/projects/
/versions/**/natives/

/java_versions.json


# eclipse
/**/eclipse
/**/.settings
/**/.metadata
/**/.classpath
/**/.project
/**/bin

#intellij
/**/.idea

# gradle
/**/.gradle
/**/build
/versions/release/26.1.2/projects-old/
/versions/release/26.1.2/projects-new/
